.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.title {
  font-size: 20px;
  color: navy;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.description {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.link {
  font-size: 11px;
  font-style: oblique;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link:visited {
  color: purple;
}

.link:active {
  color: #ff5722;
}
.defaultMsg {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
